tax-refund-workflow-integrated.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tax-refund",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        656,
        240
      ],
      "id": "f5cea3a2-86fc-4c73-80fa-106a454c14b6",
      "name": "Webhook",
      "webhookId": "3787ac93-c057-4b15-b59a-922a0ef15cbb"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        880,
        240
      ],
      "id": "da787d1b-f3c3-4c4f-b8a8-cfd10ee9e229",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prepare_body",
              "name": "gemini_body",
              "value": "={{ { contents: [ { parts: [ { text: 'Extract all data from this Israeli Form 106 (טופס 106) tax document and return ONLY valid JSON with these fields: tax_year, employee_name, employee_id, employer_name, employer_id, total_income, total_tax_paid, tax_credit_points, work_months. Use null for missing fields. Return ONLY the JSON object, no other text.\\n\\nDocument text:\\n' + ($json.extractedText || '') } ] } ] } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        240
      ],
      "id": "fad418a2-f37b-48c6-8790-95a972ac5e5b",
      "name": "Prepare Gemini Body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract_text",
              "name": "response_text",
              "value": "={{ typeof $json.output === 'string' ? $json.output : JSON.stringify($json.output) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        240
      ],
      "id": "fea3d14c-1426-466e-99ff-c285a840b0cd",
      "name": "Extract Response Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse",
              "name": "data",
              "value": "={{ JSON.parse($json.response_text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        240
      ],
      "id": "4fdd3fad-7f98-4aed-b1f0-6c08ea40d3b1",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "={{ { status: 'success', data: $json.data, extracted_at: new Date().toISOString() } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        240
      ],
      "id": "0bf2cc9c-4827-4ed0-a354-3dfd4ade5e9a",
      "name": "Build Response"
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseBody": "={{ $json.response }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2592,
        240
      ],
      "id": "08299d4f-f31d-4a7a-b827-a6fce6cb9715",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.gemini_body.contents[0].parts[0].text }} The form is here - {{ $('Extract from File').item.json.text }}\nYou receive the attached PDF for analysis.\n\nThis PDF is an Israeli yearly tax report for salaried income for tax year 2024, generated by the Israel Tax Authority personal area (“מידע על הכנסות לשנת המס 2024”, Form 106 style).\n\nTasks:\n1. Read the document carefully.\n2. Extract, if possible:\n   - tax_year\n   - total_taxable_income (שדה 158/172 – הסך הכל בש\"ח)\n   - total_tax_withheld (שדה 042 – סך ניכויי מס)\n   - weighted_credit_points (מספר נקודות זיכוי משוקלל שניתנו במהלך השנה)\n   - total_credit_value_nis (סכום נקודות הזיכוי בשקלים)\n3. Using the system instructions, calculate:\n   - estimated gross_tax, net_tax, refund_estimated, and refund_direction.\n\nIf any of the key numeric fields (total_taxable_income, total_tax_withheld) cannot be read with high confidence, leave them as null in the JSON and add an explanation in notes.\n\nReturn only a single JSON object, in the exact schema described in the system prompt and nothing else.\n",
        "options": {
          "systemMessage": "You are a careful Israeli income tax assistant for salaried employees.\n\nYour task:\n1. Read an Israeli yearly Form 106 (or equivalent annual summary) provided as a PDF document.\n2. Extract, for a single tax year:\n   - tax_year\n   - total_taxable_income (in NIS, integer) – e.g. field 158/172\n   - total_tax_withheld (in NIS, integer) – e.g. field 042\n   - weighted_credit_points (number, e.g. 5.08)\n   - total_credit_value_nis (in NIS, integer) – if given explicitly\n3. Using the extracted data, calculate whether the employee overpaid or underpaid income tax for that year, and what is the estimated refund (or additional payment) amount.\n\nRules and assumptions:\n- The form is for Israel, salaried employee only (no business income, no capital gains, no special exemptions).\n- Work only for the year stated on the form (tax_year).\n- Treat Form 106 values as the ground truth; do NOT invent or “guess” missing values. If a value is unclear, say so explicitly.\n- If both weighted_credit_points and total_credit_value_nis are present, use total_credit_value_nis directly as the yearly credit amount.\n- If only weighted_credit_points is present, you may approximate yearly credit as:\n  yearly_credit = weighted_credit_points × 3,150 NIS\n  (this is a rough 2024-style approximation and should be clearly labeled as an estimate).\n- Income tax must be calculated using progressive annual tax brackets for Israel for the relevant year. If you are not certain of exact brackets for that year, use a reasonable approximation and clearly mark the result as an estimate.\n- Compute:\n  1) gross_tax = tax due before credits, based on progressive brackets\n  2) net_tax = max(gross_tax − yearly_credit, 0)\n  3) refund = total_tax_withheld − net_tax\n- Interpretation of refund:\n  - If refund > 0 → the employee overpaid and may be entitled to a refund.\n  - If refund ≈ 0 (|refund| < 100) → negligible difference.\n  - If refund < 0 → the employee underpaid and may owe additional tax of |refund|.\n- Be conservative: if any essential value (taxable income or tax withheld) is missing, do NOT perform the calculation. Instead, explain which fields are missing.\n\nOutput format:\nReturn a single JSON object with the following shape, and nothing else (no explanations outside the JSON):\n\n{\n  \"tax_year\": 2024,\n  \"total_taxable_income\": 202420,\n  \"total_tax_withheld\": 24509,\n  \"weighted_credit_points\": 5.08,\n  \"yearly_credit_used\": 15972,\n  \"gross_tax_estimated\": 0,\n  \"net_tax_estimated\": 0,\n  \"refund_estimated\": 0,\n  \"refund_direction\": \"refund\" | \"pay_more\" | \"none\",\n  \"notes\": [\n    \"short explanation string 1\",\n    \"short explanation string 2\"\n  ]\n}\n\nConventions:\n- All money amounts must be integers in NIS (no commas, no currency symbols).\n- refund_direction:\n  - \"refund\" if refund > 0\n  - \"pay_more\" if refund < 0\n  - \"none\" if |refund| < 100 or you decide it is negligible\n- In notes, clearly mention if tax brackets or credit values were approximated, and that this is an estimate and not formal tax advice.\n\nDo not return English text outside the JSON. The user will see the JSON and format it separately.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1312,
        240
      ],
      "id": "e2c75c9d-19b1-4beb-abb6-5b87f82fbc17",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1184,
        448
      ],
      "id": "cd6d521c-1e7b-4a6a-acb4-acd7c4e31fea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RUEQXcPgpxPfY7p4",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Prepare Gemini Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Body": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response Text": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Response Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25138963674472896474fbf723543df2890b08be63d81d0e7e9e9b3b5084a997"
  }
}