tax-refund-workflow-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tax-refund",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-200, 0],
      "id": "webhook_receive_form",
      "name": "קבלת_טופס_106_מהאתר"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyBA5kyL42d_nJaMD5QF8EuhcCloo6e-PdM",
        "sendBody": true,
        "bodyType": "json",
        "body": "={{ JSON.stringify({ contents: [ { parts: [ { inline_data: { mime_type: 'application/pdf', data: Buffer.from($binary.file.data).toString('base64') } }, { text: 'Extract all data from this Israeli Form 106 (טופס 106) tax document and return ONLY valid JSON with these fields: tax_year, employee_name, employee_id, employer_name, employer_id, total_income, total_tax_paid, tax_credit_points, work_months, national_insurance, health_insurance, pension_employee, pension_employer, training_fund, severance_fund, work_days, monthly_income, address, phone. Use null for missing fields. Return ONLY the JSON object, no other text.' } ] } ] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 0],
      "id": "gemini_analyze_document",
      "name": "ניתוח_וחילוץ_נתונים_מטופס_106"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "extract_text",
              "name": "response_text",
              "value": "={{ $json.candidates?.[0]?.content?.parts?.[0]?.text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [100, 0],
      "id": "extract_gemini_text",
      "name": "Extract Response Text"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "parse_json",
              "name": "extracted_data",
              "value": "={{ JSON.parse($json.response_text || '{}') }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0],
      "id": "parse_gemini_response",
      "name": "המרת_תשובת_AI_ל_JSON"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "tax_year",
              "name": "tax_year",
              "value": "={{ $json.extracted_data.tax_year }}",
              "type": "string"
            },
            {
              "id": "employee_name",
              "name": "employee_name",
              "value": "={{ $json.extracted_data.employee_name || null }}",
              "type": "string"
            },
            {
              "id": "employee_id",
              "name": "employee_id",
              "value": "={{ $json.extracted_data.employee_id || null }}",
              "type": "string"
            },
            {
              "id": "employer_name",
              "name": "employer_name",
              "value": "={{ $json.extracted_data.employer_name || null }}",
              "type": "string"
            },
            {
              "id": "employer_id",
              "name": "employer_id",
              "value": "={{ $json.extracted_data.employer_id || null }}",
              "type": "string"
            },
            {
              "id": "total_income",
              "name": "total_income",
              "value": "={{ $json.extracted_data.total_income || 0 }}",
              "type": "number"
            },
            {
              "id": "total_tax_paid",
              "name": "total_tax_paid",
              "value": "={{ $json.extracted_data.total_tax_paid || 0 }}",
              "type": "number"
            },
            {
              "id": "validation_required_fields",
              "name": "has_required_fields",
              "value": "={{ $json.tax_year && $json.total_income > 0 }}",
              "type": "boolean"
            },
            {
              "id": "validation_income",
              "name": "income_is_valid",
              "value": "={{ $json.total_income > 0 }}",
              "type": "boolean"
            },
            {
              "id": "validation_tax_paid",
              "name": "tax_paid_is_valid",
              "value": "={{ $json.total_tax_paid >= 0 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 0],
      "id": "validate_required_fields",
      "name": "בדיקת_שדות_חובה"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check_required",
              "leftValue": "={{ $json.has_required_fields }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "check_income",
              "leftValue": "={{ $json.income_is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "check_tax_paid",
              "leftValue": "={{ $json.tax_paid_is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [600, 0],
      "id": "validation_check",
      "name": "בדיקת_תקינות"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "response_object",
              "name": "response_data",
              "value": "={{ { status: 'success', data: { tax_year: $json.tax_year, employee: { name: $json.employee_name, id: $json.employee_id, address: $json.extracted_data.address, phone: $json.extracted_data.phone }, employer: { name: $json.employer_name, id: $json.employer_id }, income: { total: $json.total_income, monthly: $json.extracted_data.monthly_income || null }, tax: { total_paid: $json.total_tax_paid, credit_points: $json.extracted_data.tax_credit_points || null }, deductions: { national_insurance: $json.extracted_data.national_insurance || null, health_insurance: $json.extracted_data.health_insurance || null, pension_employee: $json.extracted_data.pension_employee || null, pension_employer: $json.extracted_data.pension_employer || null, training_fund: $json.extracted_data.training_fund || null, severance_fund: $json.extracted_data.severance_fund || null }, work_period: { days: $json.extracted_data.work_days || null, months: $json.extracted_data.work_months || null } }, extracted_at: new Date().toISOString() } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, -100],
      "id": "build_success_response",
      "name": "בניית_תשובה_מלאה"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "error_response",
              "name": "response_data",
              "value": "={{ { status: 'error', error: { code: 'VALIDATION_FAILED', message: 'הטופס לא עבר את הולידציה הבסיסית', details: { has_required_fields: $json.has_required_fields, income_valid: $json.income_is_valid, tax_paid_valid: $json.tax_paid_is_valid, extracted_data: $json.extracted_data || {} } }, extracted_at: new Date().toISOString() } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 100],
      "id": "build_error_response",
      "name": "בניית_תשובת_שגיאה"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1000, 0],
      "id": "respond_to_webhook",
      "name": "החזרת_תוצאה_ללקוח"
    }
  ],
  "connections": {
    "קבלת_טופס_106_מהאתר": {
      "main": [[{"node": "ניתוח_וחילוץ_נתונים_מטופס_106", "type": "main", "index": 0}]]
    },
    "ניתוח_וחילוץ_נתונים_מטופס_106": {
      "main": [[{"node": "Extract Response Text", "type": "main", "index": 0}]]
    },
    "Extract Response Text": {
      "main": [[{"node": "המרת_תשובת_AI_ל_JSON", "type": "main", "index": 0}]]
    },
    "המרת_תשובת_AI_ל_JSON": {
      "main": [[{"node": "בדיקת_שדות_חובה", "type": "main", "index": 0}]]
    },
    "בדיקת_שדות_חובה": {
      "main": [[{"node": "בדיקת_תקינות", "type": "main", "index": 0}]]
    },
    "בדיקת_תקינות": {
      "main": [
        [{"node": "בניית_תשובה_מלאה", "type": "main", "index": 0}],
        [{"node": "בניית_תשובת_שגיאה", "type": "main", "index": 0}]
      ]
    },
    "בניית_תשובה_מלאה": {
      "main": [[{"node": "החזרת_תוצאה_ללקוח", "type": "main", "index": 0}]]
    },
    "בניית_תשובת_שגיאה": {
      "main": [[{"node": "החזרת_תוצאה_ללקוח", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "tax-refund-extraction-system"
  }
}
