tax-refund-workflow-binary.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tax-refund",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook_node",
      "name": "Webhook"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "={{ { status: 'test_working', body_received: !!$json.body, body_type: typeof $json.body, body_size: ($json.body || '').length, timestamp: new Date().toISOString() } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0],
      "id": "build_response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [400, 0],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Build Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "tax-refund-extraction-system"
  }
}
