tax-refund-workflow-debug.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tax-refund",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook_node",
      "name": "Webhook"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "debug_webhook",
              "name": "webhook_debug",
              "value": "={{ { file_received: !!$binary.file, file_size: $binary?.file?.data?.length || 0, binary_keys: Object.keys($binary || {}), message: 'Webhook received successfully' } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0],
      "id": "debug_webhook_received",
      "name": "Debug: Webhook Received"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyBA5kyL42d_nJaMD5QF8EuhcCloo6e-PdM",
        "sendBody": true,
        "bodyType": "json",
        "body": "={{ JSON.stringify({ contents: [ { parts: [ { inline_data: { mime_type: 'application/pdf', data: Buffer.from($binary.file.data).toString('base64') } }, { text: 'Extract all data from this Israeli Form 106 (טופס 106) tax document and return ONLY valid JSON with these fields: tax_year, employee_name, employee_id, employer_name, employer_id, total_income, total_tax_paid, tax_credit_points, work_months. Use null for missing fields. Return ONLY the JSON object, no other text.' } ] } ] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 0],
      "id": "gemini_api",
      "name": "Call Gemini API"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "debug_gemini",
              "name": "gemini_debug",
              "value": "={{ { gemini_response_keys: Object.keys($json || {}), response_text: $json.candidates?.[0]?.content?.parts?.[0]?.text?.substring(0, 200) || 'NO TEXT', full_response_preview: JSON.stringify($json).substring(0, 500) } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 0],
      "id": "debug_gemini_response",
      "name": "Debug: Gemini Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [800, 0],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Debug: Webhook Received", "type": "main", "index": 0}]]
    },
    "Debug: Webhook Received": {
      "main": [[{"node": "Call Gemini API", "type": "main", "index": 0}]]
    },
    "Call Gemini API": {
      "main": [[{"node": "Debug: Gemini Response", "type": "main", "index": 0}]]
    },
    "Debug: Gemini Response": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "tax-refund-extraction-system"
  }
}
