tax-refund-workflow-simple-debug.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tax-refund",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook_node",
      "name": "Webhook"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "debug_structure",
              "name": "debug",
              "value": "={{ { json_keys: Object.keys($json), json_stringify_length: JSON.stringify($json).length, has_body: 'body' in $json, body_constructor: $json.body?.constructor?.name || 'undefined', is_string: typeof $json.body === 'string', is_buffer: Buffer.isBuffer($json.body), json_preview: JSON.stringify($json).substring(0, 100) } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0],
      "id": "debug_node",
      "name": "Debug Structure"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [400, 0],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Debug Structure", "type": "main", "index": 0}]]
    },
    "Debug Structure": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "tax-refund-extraction-system"
  }
}
