tax-refund-workflow-check-binary.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tax-refund",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook_node",
      "name": "Webhook"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "check_data",
              "name": "data_info",
              "value": "={{ { json_keys: Object.keys($json), json_body_type: typeof $json.body, json_body_is_buffer: Buffer.isBuffer($json.body), has_binary: !!$binary, binary_keys: Object.keys($binary || {}), json_stringified: JSON.stringify($json).substring(0, 300) } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0],
      "id": "check_binary",
      "name": "Check Binary Data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [400, 0],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Check Binary Data", "type": "main", "index": 0}]]
    },
    "Check Binary Data": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "tax-refund-extraction-system"
  }
}
